/*  
purple: #445BE6;
orange: #F87F29;
overlay : rgba(49, 41, 79, 0.7);
*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Playfair Display';
    margin: 0;
    padding: 0; 
}

nav{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
nav img{
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px 10px 20px;
    color: rgb(49, 41, 79);;
    font-size: 1.2rem;
    font-weight: 800;
    transition:0.4s ease;
}
.fa-bars{
    font-size: 30px;
    padding: 10px;
    display: none;
}
nav ul li:nth-child(2):hover, li:nth-child(1):hover{
    color:#F87F29;
}
#login{
    background-color: rgb(49, 41, 79);;
    color: #fff;
    padding: 8px 20px;
    border: 2px solid transparent;
    border-radius: 12px;
}
#login:hover{
    color: #F87F29;
  background-color: transparent;
  border-color: rgb(49, 41, 79);
}
.container{
    background-image: url('/assets/images/hero1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 80%;
    margin:  auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0 , 0, 0.4);
    border-radius: 20px;
}
#about{
    text-align: center;
    width: 50%;
    margin:8% auto auto auto;
    color: #fff;
    border-top: 3px solid #F87F29;
    background-color: rgba(49, 41, 79, 0.5);
}
#about h2{
    font-size: 2rem;
    padding-top: 10px;
}

#about p{
    font-size: 1.2rem;
    padding: 10px 0px 15px;
}
#about button{
    color: #fff;
    background-color:#F87F29 ;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.2s ease;
}
#about button:hover{
    background-color: transparent;
    color: #F87F29;
    border-color:#F87F29;
}


.more{
    width: 80%;
    margin: auto;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.info{

    width: 450px;
}
.info p{
    color: #5d5e61;
    font-weight: 500;
}
.info h2{
    font-size: 1.6rem;
}
.fa-home, .fa-hotel, .fa-briefcase{
    color:rgb(49, 41, 79);
}

/* PROPERTIES */
.property{
    background-color:rgba(49, 41, 79, 0.1) ;
    width: 100%;
    margin: 20px auto auto auto;
   
}

#exper{
    text-align: center;
    color: rgb(49, 41, 79);
    font-weight: 800;
    padding-top: 30px;
    font-size: 2rem;
}
.filter-prop{
    padding-top: 30px;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
#moreInf, #submit ,.filter-prop button, .back button{
    /* background-color: #dddee0;;
    color: #5d5e61; */
    background-color: rgb(49, 41, 79);;
    color: #FFFFFF;
    font-size: 1.0rem;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    /* transition: 0.3s ease; */
}
.moreInf button:hover, .filter-prop button:hover{
    background-color: transparent;
    color: #F87F29;
    border-color:rgb(49, 41, 79);
}
.left-prop{
  margin-right: 20px;
}

/* CARDS */
.propCards{
    padding: 30px 0px 30px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 330px 330px 330px 330px;
    justify-content: space-between; 
    row-gap: 30px;
    align-content: space-between;
}

 .card{
    height: 350px;
   }
   .innerCard{
       position: relative;
       height: 100%;
       width: 100%;
       transition: transform 0.6s;
       transform-style: preserve-3d;
   }
   .front{
       background-color: #fff;
       text-align: center;
       border-radius: 10px;
     
   }
.front img{
   width: 300px;
   height: 180px;
   margin-top: 15px;
   border-radius: 10px  10px 0px 0px;
}
.front p{
   color: #5d5e61;
   font-weight: 500;
}
.back {
   display: flex;
   /* height: 350px; */
   flex-direction: column;
   background-color: #F87F29;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   border-radius: 10px;
color: #fff;
font-weight: 700;
   transform: rotateY(180deg);
 
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}
.card:hover .innerCard{
  transform: rotateY(180deg);
   
} 
.checked{
    color: #F87F29;
}

/* EXPERIENCE SECTION */
#experience{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
#experience h1{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: rgb(49, 41, 79);
}
.aboutSec{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image{
    flex-basis: 60%;
    border-radius: 10px;
}
#moreInf:hover, #submit:hover{
    background-color: transparent;
    color: #F87F29;
    border-color:rgb(49, 41, 79);
}

.flex-items{
   width: 600px;
   display: flex;
   justify-content: space-between;
   height: 15vh;
}
.flex h4{
    color: #F87F29;
}
.flex p{
    font-weight: 800;
}
.flex-1{
    align-self: flex-start;

}
.flex-2{
    align-self: center;
}
.flex-3{
    align-self: flex-end;
}
.aboutSec button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* COMMENTS SECTION */
.comment{
    background-color: rgba(49, 41, 79, 0.2);
    width: 80%;
    margin: 60px auto auto auto;
    border-radius: 20px;
  
}
#comments {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

}

.comment h2{
    text-align: center;
    padding: 20px;
    color: rgb(49, 41, 79);
}
.comment-area{
   display: flex;
   justify-content: center;
  
}
#submit{
    align-self: center;
}
#response{
    padding: 10px;
    width: 400px;
    display: none;
    margin-left: 10px;
    height: fit-content;
    background-color: rgb(49, 41, 79);
    border-radius: 6px;
}
#response li{
    font-weight: 700;
    color: #fff;
    list-style: none;
}

/* LOG IN FORM */
.login-page{
    /* background-color: #F87F29; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0,0 , 0, 0.4);
    display: none;
    z-index: 10;
}
#close-btn{
    font-size: 30px;
    color: #5d5e61;
    float: right; 
    cursor: pointer;
}
.contains{
    /* background-color: red; */
    height: 80%;
  
}
.contains span{
    color: rgb(49, 41, 79);
}

#login-page{
 display: flex;
 flex-direction: column;
}
#login-page label{
    font-weight: 800;
    font-size: 1.1rem;
}
#login-page input{
    background-color: transparent;
    border: 1px solid #5d5e61;
    padding: 15px ;
    border-radius: 10px;
}
#login-page button{
    background-color: rgb(49, 41, 79);
    color: #fff;
    padding: 15px ;
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: 800;
    font-size: 1.3rem;
    cursor: pointer;
}
.form-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0 , 0, 0.4);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 5;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1720px){
    .propCards, .more, .container, nav,.filter-prop{
        width: 85%;
    }
    
}
@media screen and (max-width: 1590px){
    .propCards, .more, .container, nav,.filter-prop{
        width: 90%;
    }
    
}
@media screen and (max-width: 1495px){
    .propCards, .more, .container, nav,.filter-prop,#experience{
        width: 100%;
    } 
}
@media screen and (max-width: 1380px){
    .propCards{
        grid-template-columns: 330px 330px 330px ;
      }
      .propCards, .filter-prop,.container, nav,.more,#experience, .comment{
        width: 85%;
      }   
}
@media screen and (max-width: 1280px){
    #experience{
        width: 100%;
      }   
}
@media screen and (max-width: 1190px){
    .propCards, .filter-prop,.container, nav,.more, .comment{
        width: 100%;
      }  
      .aboutSec{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .aboutCont{
        display: flex;
        flex-direction: column;
       
        align-items: center;
        text-align: center;
    } 
}

@media screen and (max-width: 1020px){
    .propCards{
        grid-template-columns: 330px 330px;
        width: 80%;
      }
      .filter-prop, .more,.comment-area{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      .more{ 
        height: fit-content; 
    }
}
@media screen and (max-width: 835px){
    .propCards{
        display: grid;
      justify-content: space-around;
        width: 100%;
      }
      .container{

        height: 30vh;
    }
      #about{
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius:  20px;
     
    }
}
@media screen and (max-width: 700px){
nav ul li{
    display: none;
    z-index: -1;
}
.fa-bars{
    
    display: block;
}
.propCards{
    grid-template-columns: 330px ;
    width: 80%;
  }
  .filter-prop button{
    padding: 5px 10px;
  }
  .info h2{
    font-size: 1.2rem;
}
#about h2,#experience h1,#property-exploration h1,#exper{
  font-size: 1.5rem;
}
}
@media screen and (max-width: 660px){
 textarea{
    width: 60%;
    margin: auto;
 }
}
@media screen and (max-width: 610px){
.flex-items{
    width: 80%;
    margin: auto;
}
}
@media screen and (max-width: 490px){
    h1 #exper {
        font-size: 1rem
    }
    .filter-prop button{
        padding: 3px 5px;
        font-size: 1.2rem;
        font-weight: 600px;
      }
      .info{
       text-align:center;
        width: 300px;
    }
}
@media screen and (max-width: 395px){
    .btn-explore{
        padding: 0px;
        font-size: 0.8rem;
    }
    .container{
        height: 80vh;
    }
    #about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}